/target/
*.classpath
*.project
.settings/

# SVN
.svn
repo/

# VIM locks
*.swp

# LibreOffice locks
.~lock.*#

*.tmp

# Word temporary
~$*.doc*
#
# # Excel temporary
~$*.xls*
#
# # Excel Backup File
*.xlk

# Eclipse
.metadata/
.classpath
.project
.settings
bin/